body {
    font-family: monospace;
    font-size: 1.25em;
}
.tbl {
    border-collapse: collapse;
    width: 100%;
}
.tbl td, .tbl th {
    border: 1px solid #aaa;
    padding: 6px;
}
.settings-group label, #selectedGenres button {
    display: inline-block;
    white-space: nowrap;
    margin-right: 1em;
}
.padleft {
    margin-left: 1em;
}
#selectedGenres label {
    font-weight: normal;
    margin-right: 1em;
}
#settings {
    margin: 1em 0;
}
.settings-group {
    white-space: nowrap;
    display: inline-block;
}
.track-genres {
    white-space: nowrap;
}
#genre_all {
    text-align: left;
}
#genre_all label {
    font-weight: normal;
}
.section {
    margin: 1em 0;
}
.settings-group > label, .section > label {
    margin-right: 0;
    font-weight: bold;
}
.btn-link {
    border: 0;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}
footer {
    position: sticky;
    bottom: 0;
    padding: 10px 0 0 0;
    border-top: 1px solid #aaa;
    margin: 0;
    overflow: hidden;
    height: 50px;
    background-color: white;
}
#content {
    padding-bottom: 20px;
}
#audio {
    width: 100%;
}
thead th {
    background-color: #f9f9f9;
    cursor: pointer;
}
thead th:hover {
    text-decoration: underline;
}
.nosort, .nosort:hover {
    text-decoration: none;
    cursor: default;
}
#order {
    font-size: 0.8em;
}